/* 
	project:  Projectname
	author:   Marcin Nowakowski (www.mymanufactory.com) 
*/
@import "css/reset.css";
@import "css/960_24_col.css";


*{ margin: 0; padding: 0; } 
body { font: .85em Arial, Helvetica, sans-serif; line-height: 1.6em; background: #fff; color: #444;}

a {	color: #4896AC; background: transparent; }
a:hover { color: #69ab24; background: transparent; text-decoration: none;}

p { margin: 0 0 15px 0; }
p.border { clear: both; border-left: 4px solid #ccc; padding: 0 0 0 15px; }

.large { padding: 5px; font-size:2em; color:gray; background-color: #F0FDE2; }
.small { font-size: 11px; line-height: 0.9em; }
.smaller { font-size: 10px }
.grey { color:gray;}
.lightgrey { color:#ccc;}
.light { font-weight: normal;}
.italic { font-style:italic;}
.blk { display: block; padding: 0 0 4px 0;}

.text-green-bg { padding: 5px; background-color: #F0FDE2; }


h1 { color:#5c5c5c; margin: 15px 0 0; letter-spacing: -1px; 

	a { color: #5c5c5c; background: inherit; text-decoration: none;}
}
img { border: 0; }
h2 { color: #7cc92d; font-size: 1.8em; margin: 0 0 12px; letter-spacing: -1px; 
	a { color: #7cc92d; text-decoration: none;}
}
h3 { color:#666 ;

	a { color:#47A4BE; font-size: 1em; text-decoration: none;}
}

#content {  border-top: 5px solid #8fd448; background: #fff}

#top{ float: right; text-align: right;}
form { margin: 0; padding: 0; display:block;}

form#search_engine {

	padding: 20px 15px 20px 25px ; margin: 0 0 2px;
	input { padding: 5px; font-size: .9em; border: 2px solid #ccc ; }
	input.small-field { width: 50%; padding: 4px; outline:none;}
	
	input.small-btn { padding: 4px; background: #7cc92d; color: #fff; border-color: #69ab24; font-weight: bold; }
}

fieldset { 

	background: #ffc; border: 2px solid #edf495; padding: 20px 15px 20px 25px ; margin: 0 0 20px;
	
	ol li {list-style: none; margin-bottom: 0px; padding-top:15px;}
	
	ol.buttons li {display:inline; vertical-align:middle}
	
	li.last { padding-bottom: 25px; margin-bottom: 10px; border-bottom: 2px solid #edf495; }

	input, textarea, select { padding: 6px; font-size: .9em; border: 2px solid #ccc ; }
	
	option {  margin : 6px ;border-bottom : 1px solid #edf495; }

	input.default-field {  outline:none; }
	
	textarea.default-field  { width:90% ; height:90px;  outline:none; }
	
	input.small-field { width: 50%; padding: 4px; outline:none;}
	
	input.default-checkbox { margin-right: 10px; background: transparent; border:none }
	
	input.default-btn { padding-right:10px; padding-left:10px; background: #7cc92d; color: #fff; border-color: #69ab24;  font-weight: bold; margin-right: 10px;}
	
	input.small-btn { padding: 4px; background: #7cc92d; color: #fff; border-color: #69ab24; font-weight: bold; }

	:focus { background:#EFF5FF }

	.label-inline {
		float:right !important;
	}

}

fieldset.vertical {

	input,  textarea, select ,checkbox, radio{  display : block; width: 90% }
}
.grid_10 {
	width:390px;
}
.grid_5 {
	width:190px
}
fieldset.horizontal {
	
	li {clear:both; 
	
		input[type!=checkbox],input[type!=radio],select,textarea { .grid_10 ; .right;}
		label { .grid_5 ; .left; text-align:right; }
		span,a { .right ;margin-top:2px;}
	}
}

#logo { float: left; color: #808080; margin: 0 0 5px 0; line-height: 25px; }
#line-top { clear: both; padding: 3px; margin: 0 0 25px; background: transparent; border-bottom: 2px solid #7ECBDF; }	

#main-menu {

	ul { 
		padding-left: 0; margin: 0 0 25px 0; height:30px; float: left; width: 100%; border-bottom: 2px solid #7ECBDF;
		li { display: inline; 
			a { height: 25px; padding: 5px 10px 0 10px; text-decoration: none; float: left; } 
			a:hover { color: #444; background: #F0FDE2 }
			a:active { color: #fff; background: #47A4BE }
		}
	}
	li.active a { color: #fff; background: #47A4BE }
}
#section-menu {
	
 	background: none repeat scroll 0 0 #DDE3EB;
	padding: 10px 15px; margin: 0 0 20px;
    color: #333333;
    ul { 
    	list-style: none outside none; 
    	li {
  			padding-bottom: 0.75em;
			position: relative;

			a {
				color: #000000;
    			margin-left: 20px;
    			margin-top: 10px;
    			padding-left: 30px;
			 	text-decoration: none;

							
			}
			span {
 	 			background: none repeat scroll 0 0 #98A7CC;
    			color: #FFFFFF;
    			padding: 0.1em 0.4em;
    			position: absolute;
    			right: 5%;
    			text-shadow: none;
								
			}
    	}

    }
	p{
		color: #5C6F83;
		margin: 10px;
    	text-shadow: 0 1px 1px #FFFFFF;
    	text-transform: uppercase;
		
	}
	

	
}


.section-list {
	background: #eee; 
	padding: 10px 15px; margin: 0 0 20px;

	h3 { color: #666; padding-bottom: 10px }
	img { margin: 0 0 8px; }
	li { 
		list-style: none; padding: 0 0 0 12px; background: url(images/arrow.gif) no-repeat 0 .6em;
		a { font-weight: bold; background: transparent }
	}
	
}

.left {  float: left;   text-align: left; }

.main {
	img { float: left; border: 4px solid #e9e9e9; padding: 1px; margin: 0 15px 5px 0; }a
	#line { clear: both; padding: 3px; margin: 0 0 15px; background: #fff url(images/smalldot.gif) repeat-x; }
	#adv { text-align: center; padding: 0;  height:250px; border: 3px solid #eee; color: #ccc; margin: 0 0 15px; }
	#shortnews ul li { 
		font-size: smaller; list-style: none; border-bottom: 1px solid #eee; 
		margin: 0; padding: 2px 0 2px 7px; background: url(images/arrow.gif) no-repeat 0 .9em 
	}
	.right .news { border-bottom: 1px solid #eee; padding: 0 0 2px; margin: 0 0 10px;}
}
	

.notice {
	padding: 5px; text-align: center; font-size: small; margin: 5px 0;
	p { text-align: center; margin: 0; padding:0 }
}


.positive { 
	background: #D5EEAA; color: #4F940F; border: solid 2px #B2DB6B; 
   p a { color: #4F940F; }
}
.negative{ 
	background-color: #FFD3D3; color: #c00; border: solid 2px #FFAFAF; 
	p a { color: #c00; }
}
.neutral{ 
	background-color: #dcebff; color: #2a8cb7; border: solid 2px #a7d1ff; 
	p a { color: #2a8cb7; }
}
	
.right { float: right;  text-align: justify; }

.important { 
	border-left: 4px solid #ccc; padding: 15px; margin: 5px 0 10px 0 ;
	h3 { color:#7cc92d }
}
.green { border-color: #8fd448; background: #F0FDE2 }
.blue { border-color: #47A4BE; background: #EFF5FF }

.list {
	li { list-style: none; border-bottom: 1px solid #eee; margin: 0; padding: 4px 4px 4px 12px; background: url(images/arrow.gif) no-repeat 0 .8em }
}

#footer { 
	color: #DCEBFF; background:#47A4BE ;
	li { list-style: none; padding: 0 0 0 12px; background: url(images/arrow-bright.gif) no-repeat 0 .4em }
	h4 { font-size: 1em }
	h4 { color: #DCEBFF; }
	ul { 
		padding-bottom:5px;
		li a { color: #86ddf2}
	}
	a { color:#86ddf2 }

}
	



table.basetable { 

	margin:30px 0 0 0 ;
	th {font-weight:bold; padding:12px 8px 5px 8px; font-size:16px;text-align:center;}
	td {text-align:center;padding:12px 8px 12px 8px;border-bottom:1px solid #f1f5f6;border-right:1px solid #b5ccd1;}
	td.long-left{text-align:left;background-color:#ffffff;}
	td.long-right{text-align:right;background-color:#ffffff;}
	td.blue{background-color:#f3f7f8;border-bottom:1px solid #e9f0f2;}
	td.yellow{background-color:#fff9bd;border-bottom:1px solid #f2f0b6;border-right:0px;}
	td.hover, tr.hover { background-color: #fff9bd; }
	th.hover, tfoot td.hover { background: #def3b8; }

	.innertable  {
		
		font-size:85%;
		td,tr {
			margin:0px 0 0 0;
			padding:0px 0 0 2px;
		}
	}
}


table { 
	border-collapse: collapse; border:0; border-style:none; border-spacing: 0; width: 100%; 
	
	td.action {
		span {
			float:right;
			margin-right:5px;
			width:16px;height:16px;
			cursor:pointer;
		}
		span.edit { background: url("icons/application_edit.png") no-repeat scroll left top transparent; }
		span.delete { background: url("icons/delete.png") no-repeat scroll left top transparent; }
		span.expand { background: url("icons/application_side_expand.png") no-repeat scroll left top transparent; }

		input[type=checkbox] {
			float:right;
			margin-right:5px;
			width:16px;height:16px;
			background: transparent; border:none 
		}
	}
	
	td.expand {
		
		text-align:justify;
		border:none;
	}

}

pre { background-color: #eee; padding: 10px; font-size: 11px }

/* icon sets */

#create {
	 background: url("icons/add.png") no-repeat scroll left top transparent;
}
#update {
	 background: url("icons/application_edit.png") no-repeat scroll left top transparent;
}
#delete{
	 background: url("icons/delete.png") no-repeat scroll left top transparent;
}
#search{
	 background: url("icons/find.png") no-repeat scroll left top transparent;
}
#report {

	 background: url("icons/report.png") no-repeat scroll left top transparent;
}
