/* 
	project:  Projectname
	author:   Marcin Nowakowski (www.mymanufactory.com) 
*/

*{ margin: 0; padding: 0; }* 
body { font: .80em "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif; line-height: 1.6em; background: #fff; color: #444;}

a {	color: #4896AC;; background: inherit; }
a:hover { color: #CC9933; background: inherit; text-decoration: none;}
p { margin: 0 0 15px 0; }
h1 { color:#47A4BE; margin: 15px 0 0; }
h1 a { color:#47A4BE; background: inherit; text-decoration: none;}
img { border: 0; }
h2 { color: #7cc92d; font: normal 1.8em "Trebuchet MS", Arial, Sans-Serif; margin: 0 0 12px; }
h2 a { color: #7cc92d; text-decoration: none;}
h3 a { font-size: 1em; text-decoration: none;}
#main h3 a { font-size: .84em; color: #808080; font-weight: normal; text-transform: uppercase; text-decoration: none; }

#content { width: 940px; margin: 0 auto; padding: 5px 0 0 0; border-top: 5px solid #8fd448;}

#top{ float: right; text-align: right;}

fieldset {background: #FCFFEC; border:none; padding: 10px 15px 15px 150px ; margin: 0 0 20px;}
	input.default-field { width: 200px; padding: 6px; border: 2px solid #ccc; font-size: .9em; }
	input.default-checkbox { padding: 6px; margin-right: 10px; border: 2px solid #ccc; font-size: .9em; }
	input.default-btn { background: #7cc92d; border: 0; padding: 6px; color: #fff; font-weight: bold; font-size: .9em; }

#logo { float: left; color: #808080; margin: 0 0 5px 0; line-height: 25px; }
#menu { height: 35px; padding: 7px 0 0 0; clear: both;  margin: 0 0 18px; background-color: #fff; }
	#menu li { font-size: 1.1em; display: inline; text-transform: uppercase; }
	#menu li a { margin: 0 25px 0 10px; color: #808080; text-decoration: none;}
	#menu li a:hover { color: #444; }
	#menu li .current { color: #444; text-decoration: none; background: #F0FDE2 }
	
#navcontainer ul { padding-left: 0; margin: 0 0 25px 0; height:30px; float: left; width: 100%; border-bottom: 1px solid #7ECBDF;}
	#navcontainer ul li { display: inline; text-transform: uppercase;}
	#navcontainer ul li a { height: 25px; padding: 5px 10px 0 10px; text-decoration: none; float: left; }
	#navcontainer ul li a:hover { color: #444; background: #F0FDE2 }
	#navcontainer a:active { color: #fff; background: #47A4BE }
	#navcontainer li#active a { color: #fff; background: #47A4BE }

#left { background: #eee;  clear: left; float: left; width: 260px; padding: 10px 15px; margin: 0 0 20px; }
	#left img { margin: 0 0 8px; }
	#left li { list-style: none; }
	#left li a {  color: #787A8F; font-weight: bold; background: url(images/arrow.gif) no-repeat center left; padding: 0 0 0 12px; }

#main { float: left; width: 655px; margin: 0 0 20px; }
	#main img { float: left; border: 3px solid #eee; padding: 1px; margin: 0 15px 5px 0; }
	#line { clear: both; padding: 3px; margin: 0 0 15px; background: #fff url(images/smalldot.gif) repeat-x; }
	#ad { float: right; text-align: center; padding: 33px 0 0; width: 250px; border: 3px solid #eee; color: #ccc; height: 50px; margin: 0 0 15px; }
	#shortnews { float: right; width: 250px; }
	.news { border-bottom: 1px solid #eee; padding: 0 0 2px; margin: 0 0 10px;}
	
#right { margin: 0 15px 20px 0; padding: 0 0 0 15px; float: right; width: 620px; text-align: justify; }
.border { clear: both; border-left: 4px solid #ccc; padding: 0 0 0 15px; }

#rl { float: left; width: 290px; margin: 0 20px 30px 0; }
#rr { float: right; width: 290px; }
	#rl li, #rr li { list-style: none; border-bottom: 1px solid #eee; padding: 4px; margin: 0; }
	#rl li a, #rr li a { background: #fff url(images/arrow.gif) no-repeat center left; padding: 0 0 0 12px; color: #808080;  }

#footer { clear: both; width: 940px; padding: 10px; margin: 0 0 15px; font-size: .9em; color: #7ECBDF; background: #47A4BE }
	#footer li { list-style: none; }
	#fr li a { color:#7ECBDF }
	#fl { width: 600px; }
	#fl a { color:#7ECBDF }
	#fr { float: right; }