
        
        <h2>Login</h2>

        <div class="notice negative">
          <p>Negative <a href='#'>notice</a></p>
        </div>

       
		<form action="some_action" method="post" class="">
          <fieldset class="horizontal">
            <ol>
			
			  <li>
				<label for="username" class="">Login</label>
				
				<input class="default-field" name="username" type="text" value="" />
				
				<a class="small"></a>
			 </li>
				
			  <li>
				<label for="password">Password</label>
				
				<input class="" name="password" type="password" value="" />
			 
			</li>
			
			<li class="last">
			<input class="default-checkbox" id=
              "user_session_remember_me" name=
              "user_session[remember_me]" type="checkbox" value=
              "1" />
			<input class="default-checkbox" id=
              "user_session_remember_me" name=
              "user_session[remember_me]" type="checkbox" value=
              "1" />
			
			    
			  </li>
           
			</ol>
           
            <ol class="buttons">
              <li><input class="default-btn" name="commit" type=
              "submit" value="Login" /></li>

              <li><a href="#">register</a></li>
            </ol>
          </fieldset>
		 
        </form>
      
            
    