
        
        <h2>Login</h2>

        <div class="notice negative">
          <p>Negative <a href='#'>notice</a></p>
        </div>

       
		<form action="some_action" method="post" class="">
          <fieldset class="horizontal grid_8 ">
            <ol>
              <li><label for="user_session_login">Login</label>
              <a href="javascript:;" title="OpenID" id="showopenid"
              class='small' style="display:none;" name=
              "showopenid">login using OpenID</a> <input class=
              "small-field" id="user_session_login" name=
              "user_session[login]"  type="text" /></li>

              <li><label for="user_session_password">Password</label>
              <a href="#" class='small'>forgot?</a> <input class=
              "default-field" id="user_session_password" name=
              "user_session[password]"  type=
              "password" /></li>

              <li><label for="mywishlist">Wish list</label>
              <select name="mywishlist">
                <option value="1">
                  Honda
                </option>

                <option value="1">
                  Suzuki
                </option>
              </select></li>
            </ol>

            <ol id='openidform'>
              <li><label for="user_session_openid_identifier">Openid
              identifier</label> <a href="javascript:;" id="hideopenid"
              class='small' style="display:none;" name=
              "hideopenid">login using standard user name /
              password</a> <input class="default-field" id=
              "user_session_openid_identifier" name=
              "user_session[openid_identifier]" type=
              "text" /></li>
            </ol>

            <ol class='last'>
              <li><input class="default-checkbox" id=
              "user_session_remember_me" name=
              "user_session[remember_me]" type="checkbox" value=
              "1" /><input name="user_session[remember_me]" type=
              "hidden" value="0" /><label for=
              "user_session_remember_me">Remember me</label></li>
            </ol>

            <ol class="buttons">
              <li><input class="default-btn" name="commit" type=
              "submit" value="Login" /></li>

              <li><a href="#">register</a></li>
            </ol>
          </fieldset>
		  <fieldset class="vertical grid_6 ">
            <ol >
              <li ><label for="user_session_login">Login</label>
              <a href="javascript:;" title="OpenID" id="showopenid"
              class='small' style="display:none;" name=
              "showopenid">login using OpenID</a> <input class=
              "default-field" id="user_session_login" name=
              "user_session[login]" type="text" /></li>

              <li><label for="user_session_password">Password</label>
              <a href="#" class='small'>forgot?</a> <input class=
              "default-field" id="user_session_password" name=
              "user_session[password]"  type=
              "password" /></li>

              <li><label for="mywishlist">Wish list</label>
              <select name="mywishlist">
                <option value="1">
                  Honda
                </option>

                <option value="1">
                  Suzuki
                </option>
              </select></li>
            

              <li><label for="user_session_openid_identifier">Openid
              identifier</label> <a href="javascript:;" id="hideopenid"
              class='small' style="display:none;" name=
              "hideopenid">login using standard user name /
              password</a> <input class="default-field" id=
              "user_session_openid_identifier" name=
              "user_session[openid_identifier]"type=
              "text" /></li>

              <li class="last"><input class="default-checkbox" id=
              "user_session_remember_me" name=
              "user_session[remember_me]" type="checkbox" value=
              "1" /><input name="user_session[remember_me]" type=
              "hidden" value="0" /><label for=
              "user_session_remember_me">Remember me</label></li>
			</ol>
            <ol class="buttons">
              <li><input class="default-btn" name="commit" type=
              "submit" value="Login" /></li>
			  <li><input class="default-btn" name="cancel" type=
              "button" value="Cancel" /></li>	

              <li><a href="#">register</a></li>
            </ol>
          </fieldset>
        </form>
      
            
    