
        
        <h2>Login</h2>

        <div class="notice negative">
          <p>Please use a valid email address </p>
          <p>Username pasword is not valid. Kindly <a href="#/register">Register</a> here</p>
        </div>

       
		<form action="some_action" method="post" class="">
          <fieldset class="horizontal grid_17 ">
            <ol>
			
			  <li>
				<label for="username" class="">Login</label>
				
				<input class="default-field" name="username" type="text" value="" />
				
				<a class="small"></a>
			 </li>
				
			  <li>
				<label for="password">Password</label>
				
				<input class="" name="password" type="password" value="" />
			 
			</li>
			
			<li class="last">
			<label for="user_session">Default Options</label>
			<input class="default-radio" id= "user_session_remember_me" name= "user_session" type="radio" value= "1" />
			<label class="inline" for=user_session>Remember Me</label>
			<input class="default-radio" id= "user_session_remember_me" name= "user_session" type="radio" value= "1" />
			<label class="inline" for=user_session>Remember Me</label>
			    
			  </li>
           
			</ol>
           
            <ol class="buttons">
              <li><input class="default-btn" name="commit" type= "submit" value="Login" /></li>
              <li><input class="default-btn" name="commit" type= "button" value="Login" /></li>

              <li><a href="#">register</a></li>
            </ol>
          </fieldset>
		 
        </form>
      
            
    
