
        
        <h2>Login</h2>

        <div class="notice negative grid_17 box ">
          <p>Please use a valid email address </p>
          <p>Username pasword is not valid. Kindly <a href="#/register">Register</a> here</p>
        </div>

		<form action="some_action" method="post" class="grid_17" >
           <fieldset class="grid_8 yellow box">
			   <legend>This is a legend</legend>
			   <ul class="form tar">
				   <li><label>label</label><input type="text" /><span class="leftNote">This is a note</span></li>
				   <li class="required"><label>label</label><input type="text" /><span class="bottomNote offset1">This is a note</span></li>
				   <li><label>label</label><select><option></option></select></li>
				   <li><label>label</label>
					   
					   <input type="radio"  />
					   
					   
					   </li>
				   <li><label>label</label><input type="checkbox"   /> </li>
				   <li><label>This is a label that is long enough to go onto three lines</label><textarea rows="5" cols="40"></textarea></li>
				   </ul>
			   </fieldset>
			
		  <fieldset class="vertical_8   box yellow  "></fieldset>
		  <fieldset class="horizontal_16 box yellow  "></fieldset>
			
		
        </form>
      
    
