
<h2 class="grid_8">Step 1: Basic Information</h2>
<div id="progress-bar" class="grid_8">
	<div id="progress-level"></div>
	
</div>

<div class="notice negative grid_17 box ">
	<p>Please use a valid email address </p>
	<p>Username pasword is not valid. Kindly <a href="#/register">Register</a> here</p>
	</div>




<fieldset class="grid_17 green box">
		<ul class="form tar">
		<li><label>label</label><input type="text" /><span class="leftNote">This is a note</span></li>
		<li class="required"><label>label</label><input type="text" /><span class="bottomNote offset1">This is a note</span></li>
		<li><label>label</label><select><option></option></select></li>
		<li><label>label</label>
			
			<input type="radio"  />
			
			
			</li>
		<li><label>label</label><input type="checkbox"   /> </li>
		<li><label>This is a label that is long enough to go onto three lines</label><textarea rows="5" cols="40"></textarea></li>
		</ul>
	</fieldset>

<h2 class="grid_17">Step 2: Advanced Information</h2>
<fieldset class="grid_17 green box">
	<legend>This is a legend</legend>
	<ul class="form tar">
		<li><label>label</label><input type="text" /><span class="leftNote">This is a note</span></li>
		<li class="required"><label>label</label><input type="text" /><span class="bottomNote offset1">This is a note</span></li>
		<li><label>label</label><select><option></option></select></li>
		<li><label>label</label>
			
			<input type="radio"  />
			
			
			</li>
		<li><label>label</label><input type="checkbox"   /> </li>
		<li><label>This is a label that is long enough to go onto three lines</label><textarea rows="5" cols="40"></textarea></li>
		</ul>
	</fieldset>

<h2 class="grid_17">Step 3: Additional Information</h2>
<fieldset class="grid_17 green box">
	
	<ul class="form tar fat">
		<li><label>label</label><input type="text" /><span class="leftNote">This is a note</span></li>
		<li class="required"><label>label</label><input type="text" /><span class="bottomNote offset1">This is a note</span></li>
		<li><label>label</label><select><option></option></select></li>
		<li><label>label</label>
			
			<input type="radio"  />
			
			
			</li>
		<li><label>label</label><input type="checkbox"   /> </li>
		<li><label>This is a label that is long enough to go onto three lines</label><textarea rows="5" cols="40"></textarea></li>
		</ul>
	</fieldset>


<h2 class="grid_17">Step 4 : Multi Select Box</h2>
<fieldset class="grid_17 yellow box">
		<ul class="form hvv">
		
		<li>
			<label>Hey, this is a multi select box <br/><em>Modifier class = "vhh"</em></label>
			<div class="multiSelect"> 
				
				<ul class="form vhh ">
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label label label label label label </label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label label label label label label label label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					</ul>
				</div>
			</li>
		
		<li>
			<label>So Is this <br/><em>Modifier class = "vii"</em></label>
			<div class="multiSelect" >
				<ul class="form vii ">
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label label label label label label label label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>Tes fds fds fds fsdfdsfds fsfdsfdsf ds dst</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					</ul>
				</div>
			</li>
		
		
		</ul>
	</fieldset>

</form>


