<form method="POST" name="" action="#crap" id=myform>

<p class="form-steps form">

	<input type=button value="Save" name="save" class="button"/>
	<input type=reset value="Reset" name="reset" class="button" />

	<a href="" class="nav-step" id="nav-step1">Step 1</a>|
  	<a href="" class="nav-step" id="nav-step2">Step 2</a>|
  	<a href="" class="nav-step" id="nav-step3">Step 3</a>|
  	<a href="" class="nav-step" id="nav-step4">Step 4</a>
</p>



<fieldset class="grid_17 green box step" id="step1">
	<h2> Step 1</h2>
		<ul class="form tar">
		<li><label>label</label><input type="text" /><span class="leftNote">This is a note</span></li>
		<li class="required"><label>label</label><input type="text" /><span class="bottomNote offset1">This is a note</span></li>
		<li><label>label</label><select><option></option></select></li>
		<li><label>label</label>
			
			<input type="radio"  />
			
			
			</li>
		<li><label>label</label><input type="checkbox"   /> </li>
		<li><label>This is a label that is long enough to go onto three lines</label><textarea rows="5" cols="40"></textarea></li>
		</ul>
	</fieldset>

<fieldset class="grid_17 green box step" id="step2">
	<h2> Step 2</h2>
	<ul class="form tar">
		<li><label>label</label><input type="text" /><span class="leftNote">This is a note</span></li>
		<li class="required"><label>label</label><input type="text" /><span class="bottomNote offset1">This is a note</span></li>
		<li><label>label</label><select><option></option></select></li>
		<li><label>label</label>
			
			<input type="radio"  />
			
			
			</li>
		<li><label>label</label><input type="checkbox"   /> </li>
		<li><label>This is a label that is long enough to go onto three lines</label><textarea rows="5" cols="40"></textarea></li>
		</ul>
	</fieldset>

<fieldset class="grid_17 green box step" id="step3">
	<h2> Step 3</h2>

	<ul class="form tar fat">
		<li><label>label</label><input type="text" /><span class="leftNote">This is a note</span></li>
		<li class="required"><label>label</label><input type="text" /><span class="bottomNote offset1">This is a note</span></li>
		<li><label>label</label><select><option></option></select></li>
		<li><label>label</label>
			
			<input type="radio"  />
			
			
			</li>
		<li><label>label</label><input type="checkbox"   /> </li>
		<li><label>This is a label that is long enough to go onto three lines</label><textarea rows="5" cols="40"></textarea></li>
		</ul>
	</fieldset>


<fieldset class="grid_17 yellow box step submit_step" id="step4">

		<h2> Step 4</h2>
		<ul class="form hvv">
		
		<li>
			<label>Hey, this is a multi select box <br/><em>Modifier class = "vhh"</em></label>
			<div class="multiSelect"> 
				
				<ul class="form vhh ">
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label label label label label label </label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label label label label label label label label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					</ul>
				</div>
		</li>
		
		<li>
			<label>So Is this <br/><em>Modifier class = "vii"</em></label>
			<div class="multiSelect" >
				<ul class="form vii ">
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label label label label label label label label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>Tes fds fds fds fsdfdsfds fsfdsfdsf ds dst</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					</ul>
				</div>
		</li>
		
		<li>
			<ul class="form vii fat">
				<li><input type=submit class="button " value="Submit" id="submit"></li>
				<li><input type=reset class="button" value="Reset"></li>
				
			</ul>
		</li>
		
		
		</ul>
	</fieldset>

</form>


