
<br>
<ul id="form-steps">
	<li><a href="#" class="prev_step"><span>Previous</span></a></li>
  	<li class="visited"><a href="#/form-multistep-step1"><span>Step 1</span><br><span class="small">Basic Information</span></a></li>
  	<li class="visited"><a href="#/form-multistep-step2"><span>Step 2</span><br><span class="small">Advanced information</span></a></li>
  	<li class="current"><a href="#/form-multistep-step3"><span>Step 3</span><br><span class="small">Additional Information</span></a></li>
  	<li class="upcoming"><a href="#/form-multistep-step4"><span>Step 4</span><br><span class="small">Multi Select </span></a></li>
	<li><a href="#" class="next_step"><span>Next</span></a></li>
</ul>

<br>

<div class="notice negative grid_17 box ">
	<p>Please use a valid email address </p>
	<p>Username pasword is not valid. Kindly <a href="#/register">Register</a> here</p>
	</div>


<form method="POST" name="" action="#crap" id=myform>
<fieldset class="grid_16 push_1 ">

<ul id="" class="form hii">
	<li><input id="prev_step" type=reset class="button grid_2" value="Previous"></input></li>
  	<li ><div id="progress-bar" class="grid_8"> <div id="progress-level"></div></div> </li>
	<li><input id="next_step" type=submit class="button grid_2" value="Next"/></li>
</ul>

</fieldset>

<fieldset class="grid_17 green box step" id="step1">
	<h2> Step 1</h2>
		<ul class="form tar">
		<li><label>label</label><input type="text" /><span class="leftNote">This is a note</span></li>
		<li class="required"><label>label</label><input type="text" /><span class="bottomNote offset1">This is a note</span></li>
		<li><label>label</label><select><option></option></select></li>
		<li><label>label</label>
			
			<input type="radio"  />
			
			
			</li>
		<li><label>label</label><input type="checkbox"   /> </li>
		<li><label>This is a label that is long enough to go onto three lines</label><textarea rows="5" cols="40"></textarea></li>
		</ul>
	</fieldset>

<fieldset class="grid_17 green box step" id="step2">
	<h2> Step 2</h2>
	<ul class="form tar">
		<li><label>label</label><input type="text" /><span class="leftNote">This is a note</span></li>
		<li class="required"><label>label</label><input type="text" /><span class="bottomNote offset1">This is a note</span></li>
		<li><label>label</label><select><option></option></select></li>
		<li><label>label</label>
			
			<input type="radio"  />
			
			
			</li>
		<li><label>label</label><input type="checkbox"   /> </li>
		<li><label>This is a label that is long enough to go onto three lines</label><textarea rows="5" cols="40"></textarea></li>
		</ul>
	</fieldset>

<fieldset class="grid_17 green box step" id="step3">
	
	<ul class="form tar fat">
		<li><label>label</label><input type="text" /><span class="leftNote">This is a note</span></li>
		<li class="required"><label>label</label><input type="text" /><span class="bottomNote offset1">This is a note</span></li>
		<li><label>label</label><select><option></option></select></li>
		<li><label>label</label>
			
			<input type="radio"  />
			
			
			</li>
		<li><label>label</label><input type="checkbox"   /> </li>
		<li><label>This is a label that is long enough to go onto three lines</label><textarea rows="5" cols="40"></textarea></li>
		</ul>
	</fieldset>


<fieldset class="grid_17 yellow box step submit_step" id="step4">
		<ul class="form hvv">
		
		<li>
			<label>Hey, this is a multi select box <br/><em>Modifier class = "vhh"</em></label>
			<div class="multiSelect"> 
				
				<ul class="form vhh ">
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label label label label label label </label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label label label label label label label label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					</ul>
				</div>
		</li>
		
		<li>
			<label>So Is this <br/><em>Modifier class = "vii"</em></label>
			<div class="multiSelect" >
				<ul class="form vii ">
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label label label label label label label label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>Tes fds fds fds fsdfdsfds fsfdsfdsf ds dst</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"  /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					<li class="required"><input type="checkbox"   /><label>label</label></li>
					<li><input type="checkbox"   /><label>label</label></li>
					</ul>
				</div>
		</li>
		
		<li>
			<ul class="form vii fat">
				<li><input type=submit class="button " value="Submit"></li>
				<li><input type=reset class="button" value="Reset"></li>
				
			</ul>
		</li>
		
		
		</ul>
	</fieldset>

</form>


