
<h2 class="">Vertical Form </h2>
<fieldset class=" yellow box">
	<ul class="form vvv thin">
		<li><label>label</label><input type="text" /><span class="leftIcon status-ok"></span><span class="leftNote">This is a note</span></li>
		<li class="required"><label>label</label><input type="text" /><span class="bottomNote ">This is a note</span></li>
		<li><label>label</label><select><option>Yahoo !! is bigger than this</option></select></li>
		
		
		<li><label></label>
			<ul class="vii">
			
				<li><label>label</label><input type="radio"  /></li>
				<li><label>label</label><input type="checkbox"   /></li>
				
			</ul>
		
		</li>
		
		
		<li><label>This is a label that is long enough to go onto three lines</label><textarea rows="5" cols="40"></textarea></li>
		<li><input class="button" type="button" value="Submit"/> <input class="button" type="reset" value="reset"/></li>
		</ul>
	</fieldset>
