
<div class=" grid_17">
<table class="basetable  center" cellpadding="0" cellspacing="0">
	<tr>
		<th>Project name</th>
		
		<th>Company</th>
		
		<th>Costs</th>
		
		<th>Costs2</th>
		</tr>
	
	<tr>
		<td class="blue">Layout (re-design)</td>
		
		<td class="blue">Builtit</td>
		
		<td class="blue">1000.0</td>
		
		<td class="blue">1000.0</td>
		
		<td class="yellow action">
			<span class="edit"></span>
			<span class="delete"></span>
			<input type="checkbox" name="select_1">
				</td>
		</tr>
	
	<tr>
		<td class="blue">Web CMS</td>
		
		<td class="blue">Dropit</td>
		
		<td class="blue">200.0</td>
		
		<td class="blue">1000.0</td>
		
		<td class="yellow action"><span class="expand"></span></td>
		</tr>
	
	<tr>
		<td class="blue">Layout (re-design)</td>
		
		<td class="blue">Builtit</td>
		
		<td class="blue">1000.0</td>
		
		<td class="blue">1000.0</td>
		
		<td class="yellow action">
			<span class="edit"></span>
			<span class="delete"></span>
			<input type="checkbox" name="select_1">
				</td>
		</tr>
	</table>

<table class="innertable ">
	<tr>
		<td>Label</td><td>Value </td>
		<td>Label</td><td>Value </td>			
		</tr>
	<tr>
		<td>Label</td><td>Value </td>
		<td>Label</td><td>Value </td>			
		</tr>
	<tr>
		<td>Label</td><td>Value </td>
		<td>Label</td><td>Value </td>			
		</tr>
	<tr>
		<td>Label</td><td>Value </td>
		<td>Label</td><td>Value </td>			
		</tr>
	</table> 

</div>