<div class="grid_17 list" >
          <ul>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a><span class="action" > <a href="#" >edit</a><input type=checkbox /></span></li>

          </ul>
</div>

